$siva: #626262;

/* BASICS */
body {
    margin: auto;
    font-family: 'Gelasio', serif;
    color: $siva;

}
h2 {
    color: $siva;
    font-size: 24px;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: #888888;
}