/* CONTENT */

main {
    width: 1000px;
    padding-top: 50px;
    margin: auto;
    padding-bottom: 150px;
    display: flex;
}
.layout-content {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
.views-row {
    width: 48%;
    padding-bottom: 40px;
}
.view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div#block-homepage-top-content {
    padding-bottom: 80px;
}
.hidden {
    display: block;
}
.region.region-content > .hidden {
    border-top-color: #626262;
    border-top-style: solid;
    width: 10%;
}